@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin:0;
}

.container{
  background-image: url("img/login-background.png");
  height: 100vh;
  background-size: cover;
  display: grid;
  overflow: hidden;
}

.white-container {
    width: 30%;
    height:100%-40px;
    max-width: 284px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: end;
 }

 @media screen and (max-width: 900px) {
  .container {
    place-items: center;
 }
 .white-container {
  justify-self: center;
  width: 350px;
  height: 350px;
  min-width: 350px;
  min-height: 350px;
}

 }

 .logo-header-ipad {
   width: 100%-5px;
   height: 33px;
   margin: 0 17px 26px 0;
   padding: 1px 5px 0 0;
 }

 .workflow-tool {
   width: 133px;
   margin-top:1px;
   font-family: 'Roboto';
   font-size: 12px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #5a5a5a;
   float: left;
 }

 .testing-hub-management {
   width: 217.8px;
   font-family: 'Roboto';
   font-size: 18px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #5a5a5a;
   float: left;
 }

 .sign-in {
   width: 100%;
   font-family: 'Roboto';
   font-size: 18px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #0096d6;
 }

 input{
   outline: 0;
   border-width: 0 0 1px;
   border-color: #b9b9b9;
   width: 100%;
   height: 14px;
   margin: 10px 0 0px 0.4px;
   padding: 6.3px 0px 5.7px 0.1px;
   background-color: #fff;
   font-family: 'Roboto';
   font-size: 12px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
 }

 .hint-text{
   width: 100%;
   font-family: 'Roboto';
   font-size: 12px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #0096d6;
   display: inline-flex;
   justify-content: end;
 }

 .flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 20.7px;
 }

 .checkbox-hint{
  justify-content:start;
  color: #5a5a5a;
  margin-top: 2px;
 }

 .shape {
  width: 18px;
  height: 18px;
  margin: 0;
  margin-right: 5px;
  border: solid 2px #5a5a5a;
 }

  .button-bg {
    width: 100%;
    height: 26px;
    margin-top: 30px;
    background-color: #0096d6;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    border: 0;
  }

  .button-bg:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px , rgba(50, 50, 93, .2) 0 6px 15px 0;
  }

.-copyright-2018-HP {
  width: 100%;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a5a5a;
  display: inline-flex;
  justify-content: center;
}
