body{
   background-repeat: no-repeat;
}

img.login_background {
   width: 1280px;
   height: 1024px;
   padding: 0 0 0 960px;
   object-fit: contain;
 }

.Rectangle-3-Copy-2 {
   width: 320px;
   height: 1024px;
   padding: 20px 20px 20px 20px;
   box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
   background-color: #ffffff;
   object-fit: contain;
   margin-left: 960px;
   margin-top: -10px;
   margin-bottom: -10px;
   overflow: hidden;
 
 }

 .logo-header-ipad {
   width: 263px;
   height: 34px;
   margin: 0 17px 26px 0;
   padding: 1px 5px 0 0;
 }

 .Workflow-Tool {
   width: 133px;
   height: 14px;
   margin: 0 84.8px 18px 0;
   margin-bottom: 0px;
   font-family: Roboto;
   font-size: 12px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #5a5a5a;
   float: left;
 }

 .Testing-Hub-Manageme {
   position: relative;
   width: 217.8px;
   height: 21px;
   margin: 11px 0 0;
   margin-top: 0px;
   font-family: Roboto;
   font-size: 18px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #5a5a5a;
   float: left;
 }

 .hp_logo {
   width: 30px;
   height: 30px;
   margin: 1px 10px 2px 0;
   background-color: #0096d6;
   font-family: "Roboto-Regular";
   font-size: 12px;
   float: left;
 }

 .SIGN-IN {
   width: 64px;
   height: 21px;
   margin: 26px 120px 10px 0;
   font-family: Roboto;
   font-size: 18px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #0096d6;
 }


 input{
   outline: 0;
   border-width: 0 0 2px;
   border-color: #b9b9b9;
   margin-right: 20px;
   width: 85px;
   height: 26px;
   margin: 10px 0 0 0.4px;
   margin-right: 20px;
   padding: 6.3px 202.6px 5.7px 0.1px;
 }

 .Hint-text-Copy {

   width: 96px;
   height: 14px;
   margin: 9px 0px 20px 63px;
   margin-left: 204px;
   margin-right: 20px;
   font-family: Roboto;
   font-size: 12px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #0096d6;
   display: inline;
 }

 
   .Hint-text-Copy2 {
     
      width: 79px;
      height: 14px;
      margin: 2px 19px 12px 4.5px;
      margin-top: 211.7;
      margin-left: 5px;
      font-family: Roboto;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5a5a5a;
     display: inline;
    }

    
 .Shape {
  
   width: 18px;
   height: 18px;
   margin: 0 5px 10px 0;
   margin-top: 20.7px;
   background-color: #0096d6;
  display:inline;
 }

 .button-bg {
   width: 280px;
   height: 26px;
   margin: 30px 0px 672px 0;
   padding: 6px 113.9px 6px 114px;
   background-color: #0096d6;
   border: 0px;
   font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
 
 
